body{
    background-image: url('wa_img/person_website.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  
    background-attachment: scroll;
  
    height: 170vh;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

#cover {
    background-color: white;
    height: 50vh;
    margin-top: 90vh;
    padding: 20px;
  }

#overlay1 {
    color:white;
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 45px;
}

#overlay2 {
    font-size:25px;
    color: black;
    position:fixed;
    top: 100px;
    right:50px;
    text-align: right;
}

#overlay3 {
    font-size:25px;
    color: black;
    position: fixed;
    top: 250px;
    right: 50px;
    text-align: right;
}